.one-biz-photo {
    width: 80%;
    height: 400px;
}

.one-biz-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.review-prof-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}


.comment-edit-dropdown {
    width: 100%;
}

.update-comment-btn {
    border: none;
    cursor: pointer;
    width: 10%;
    height: 25px;
}
.update-comment-btn:hover {
    background-color: rgb(216, 214, 214);
}

.delete-comment-btn {
    border: none;
    cursor: pointer;
    width: 10%;
    height: 25px;

}
.delete-comment-btn:hover {
    background-color: rgb(216, 214, 214);


}


.update-biz-dropdown-btn {
    border: none;
    cursor: pointer;
    width: 10%;
    height: 25px;

}
.update-biz-dropdown-btn:hover {
    background-color: rgb(216, 214, 214);

}

.delete-biz-dropdown-btn {
    border: none;
    cursor: pointer;
    width: 10%;
    height: 25px;
}
.delete-biz-dropdown-btn:hover {
    background-color: rgb(216, 214, 214);

}

.yes-delete-btn {
    border: none;
    cursor: pointer;
    width: 10%;
    height: 25px;

}
.yes-delete-btn:hover {
    background-color: rgb(216, 214, 214);

}

.no-delete-btn {
    border: none;
    cursor: pointer;
    width: 10%;
    height: 25px;

}
.no-delete-btn:hover {
    background-color: rgb(216, 214, 214);

}

.write-review-btn {
    width: 10%;
    height: 35px;
    background-color: #d32324;
    margin-top: 30px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.write-review-btn:hover {
    background-color: #c20304;


}

.outline-star {
    font-size: 23px;
}

.banner-image-array {
    width: 33.3%;
    height: 400px;
}


.business-show-info {
    position: absolute;
    top: 20px;
    margin-top: 50px;
}

.one-biz-title {
    color: white;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.4px;
    white-space: nowrap;
    margin-left: 55px;
    margin-top: 210px;
}

.business-show-rating-cont {
    display: flex;
}

.business-show-rating {
    margin-top: 10px;
    margin-left: 55px;
    -webkit-appearance: none;
    width: 176px;
    height: 32px;
}

/* all of this is for review stars */

.giant-0-star {
    width: 300px;
    height: 50px;
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/styling_stuff/frontend/src/components/IconPics/yelp-stars.png?raw=true);
    background-size: 100%;
    background-position-y: -2px;
}

.giant-1-half-star {
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/styling_stuff/frontend/src/components/IconPics/yelp-stars.png?raw=true);
    width: 300px;
    height: 50px;
    background-size: 100%;
    background-position-y: -56px;
}

.giant-1-star {
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/styling_stuff/frontend/src/components/IconPics/yelp-stars.png?raw=true);
    width: 300px;
    height: 50px;
    background-size: 100%;
    background-position-y: -111px;
}

.giant-2-half-star {
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/styling_stuff/frontend/src/components/IconPics/yelp-stars.png?raw=true);
    width: 300px;
    height: 50px;
    background-size: 100%;
    background-position-y: -165px;

}

.giant-2-star {
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/styling_stuff/frontend/src/components/IconPics/yelp-stars.png?raw=true);
    width: 300px;
    height: 50px;
    background-size: 100%;
    background-position-y: -220px;
}

.giant-3-half-star {
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/styling_stuff/frontend/src/components/IconPics/yelp-stars.png?raw=true);
    width: 300px;
    height: 50px;
    background-size: 100%;
    background-position-y: -275px;
}

.giant-3-star {
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/styling_stuff/frontend/src/components/IconPics/yelp-stars.png?raw=true);
    width: 300px;
    height: 50px;
    background-size: 100%;
    background-position-y: -329px;

}


.giant-4-half-star {
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/styling_stuff/frontend/src/components/IconPics/yelp-stars.png?raw=true);
    width: 300px;
    height: 50px;
    background-size: 100%;
    background-position-y: -384px;
}


.giant-4-star {
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/styling_stuff/frontend/src/components/IconPics/yelp-stars.png?raw=true);
    width: 300px;
    height: 50px;
    background-size: 100%;
    background-position-y: -439px;
}

.giant-5-star {
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/styling_stuff/frontend/src/components/IconPics/yelp-stars.png?raw=true);
    width: 300px;
    height: 50px;
    background-size: 100%;
    background-position-y: -493px;

}
