.new-biz-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.new-business-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
