.new-biz-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.new-business-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 300px;
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/offmain/frontend/src/components/IconPics/fruit-bg.png?raw=true);
}

.lets-add-biz-info-p {
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
