.new-biz-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 30%;
}

.new-business-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 300px;
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/offmain/frontend/src/components/IconPics/fruit-bg.png?raw=true);
}

.lets-add-biz-info-p {
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.new-biz-form-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.new-biz-text-area {
    resize: none;
    width: 426px;
    height: 111px;
}

.new-biz-input {
    height: 25px;
}

.add-business-btn {
    transition: all .5s ease;
    color: grey;
    border: 1px solid grey;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;

}
.add-business-btn:hover {
    color: white;
    background-color: rgb(188, 187, 187);
}

.lets-add-biz-info-p {
    font-family: 'Montserrat', sans-serif;
    margin-top: -5px;
}

.new-biz-addy-info {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 1px;

}

.new-biz-addy-input {
    height: 30px;
    width: 48%;
}

.new-biz-directions {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;

}

.new-biz-category-input {
    height: 30px;

}

#vibes {
    margin-top: 1px;

}

.add-biz-title-h1 {
    color: #5a5a5a;
}

