
.search-business-pic {
    height: 200px;
    width: 40%;
    border-radius: 4px;
    object-fit: cover;
    margin-top: 3px;
    cursor: pointer;
    object-fit: cover;
}

.search-business-info-cont {
    width: 100%;
    height: 300px;

}

.search-biz-info {
    text-decoration: none;
    width: 100%;
    min-width: 680px;
    max-width: 800px;
    height: 205px;
    border: 1px solid #e4dfdf;
    border-radius: 4px;
    padding: 24px;
    margin: -16px 35px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.search-pg-contents-div {
    margin-left: 10%;


}

.all-results-title {
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
}

.search-biz-title-rating-review {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.rev-preview-search-pg {
    display: flex;
    grid-gap: 10px;
    grid-gap: 10px;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin-top: -21px;
    font-size: 12px;
    min-block-size: -moz-fit-content;
    min-block-size: fit-content;
}

.search-biz-info-holder {
    /* overflow: hidden; */
}

.below-svg {
    width: 90%;
}

.no-results-div {
    border: 1px solid #e4dfdf;
    background-color: white;
    height: 500px;
    display: flex;
    text-align: center;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.no-results-gif {
    width: 300px;
    /* height: 200px; */
    object-fit: cover;
}

/* .search-pg-container {
    height: 600px;
} */
