
.home-pg-shelf-logo {
    width: 300px;
}


.splash-search-container {
    width: 100%;
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/firstbranch/frontend/src/components/IconPics/output-onlinepngtools.png?raw=true);
    height:650px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    gap: 13%;
}

.double-search {
    background: white;
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 55%;
    height: 45px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid #8080802b;
}

.magnifying {
    width: 10%;
    height: 100%;
    border: none;
    background-color: #dd0101;
    border-radius: 0px 7px 7px 0px;
}

.find-near-p {
    width: 5%;
    text-align: center;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: grey;
}

.find-name {
    width: 45%;
    height: 70%;
    border: none;
    border-right: 1px solid #8080807d;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
.find-name:focus {
    outline: none;
}

.find-location {
    width: 35%;
    height: 90%;
    border: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
.find-location:focus {
    outline:none;
}

.splash-navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    grid-gap: 80%;
    gap: 80%;
    justify-content: center;
    height: 50px;
    font-size: 22px;
}

.splash-navbar-links {
    color: white;
    text-decoration: none;
}

.splash-nav-logo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.mag-glass-icon {
    width: 34%;
}

.signup-home-btn {
    transition: all .5s ease;
    color: #fff;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-home-btn:hover {
    color: grey;
    background-color: #fff;
}

.home-nav-all-biz-btn {
    border: none;
    background: transparent;
    font-size: 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}

.home-nav-all-biz-btn:hover {
    border-bottom: 2px solid white;
    font-weight: bold;

}

.shelf-bay-area {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.shelf-bay-area-p {
    color: #c02013;
    font-family: 'Montserrat', sans-serif;
}

.explore-grocer-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.find-best-grocer-p {
    color: #c02013;
    font-family: 'Montserrat', sans-serif;

}

.categories-div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.categories-title {
    font-family: 'Montserrat', sans-serif;

}

.rustic-cont {

}

.cat-type-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
