
.home-pg-shelf-logo {
    width: 300px;
}


.splash-search-container {
    width: 100%;
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/firstbranch/frontend/src/components/IconPics/output-onlinepngtools.png?raw=true);
    height: 550px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    gap: 13%;
}

.double-search {
    background: white;
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 55%;
    height: 45px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid #8080802b;
}

.magnifying {
    width: 10%;
    height: 100%;
    border: none;
    background-color: #dd0101;
    border-radius: 0px 7px 7px 0px;
}

.find-near-p {
    width: 5%;
    text-align: center;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: grey;
}

.find-name {
    width: 45%;
    height: 70%;
    border: none;
    border-right: 1px solid #8080807d;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.find-name:focus {
    outline: none;
}

.find-location {
    width: 35%;
    height: 90%;
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.find-location:focus {
    outline:none;
}

.splash-navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    height: 50px;
    gap: 70%;
    font-size: 22px;
    justify-content: center;
    background: linear-gradient(to top, rgb(199,194,194, 0) , rgb(51 51 52 / 75%));
}

.splash-navbar-links {
    color: white;
    text-decoration: none;
}

.splash-nav-logo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.mag-glass-icon {
    width: 34%;
}

.splash-signup-home-btn {
    transition: all .5s ease;
    color: #fff;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;

}
.splash-signup-home-btn:hover {
    color: grey;
    background-color: #fff;

}

.signup-home-btn {
    transition: all .5s ease;
    color: rgb(149, 149, 149);
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-home-btn:hover {
    color: grey;
    background-color: #fff;
}

.splash-home-nav-all-biz-btn {
    border: none;
    background: transparent;
    font-size: 18px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}
.splash-home-nav-all-biz-btn:hover {
    border-bottom: 2px solid white;
    font-weight: bold;

}

.home-nav-all-biz-btn {
    transition: all .5s ease;
    color: rgb(149, 149, 149);
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;

}

.home-nav-all-biz-btn:hover {
    color: grey;
    background-color: #fff;
}

.shelf-bay-area {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    align-content: center;

}

.shelf-bay-area-p {
    color: #c02013;
    font-family: 'Montserrat', sans-serif;

}

.explore-grocer-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.find-best-grocer-p {
    color: #c02013;
    font-family: 'Montserrat', sans-serif;
    margin-top: 35px;


}

.categories-div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
    margin-top: -35px;
}


.categories-title {
    font-family: 'Montserrat', sans-serif;

}


.cat-type-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
}

.fam-owned-cont {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.modern-cont {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.rustic-cont {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.hot-and-new-businesses {
    font-family: 'Montserrat', sans-serif;
    margin-top: -6px;

}

.hot-indiv-biz {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.hot-businesses-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-bottom: 5%;

}

.hot-indiv-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;

}

.shelf-hot-new-titles-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.splash-buttons-cont {
    display: flex;
    align-items: center;
    gap: 20px;
}

.signed-in-home-nav-all-biz-btn {
    border: none;
    background: transparent;
    font-size: 18px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}
.signed-in-home-nav-all-biz-btn:hover {
    border-bottom: 2px solid white;
    font-weight: bold;

}
