input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
    transition: background-color 200ms;
    width: 25px;
    height: 25px;
    /* background-color: red; */
}

.rating-stars {
    display: flex;
}

.review-rating-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
