
.update-business-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 300px;
    background-image: url(https://github.com/Leahk1m/shelf_app/blob/aws_time/frontend/src/components/IconPics/orange-fruit-bg.png?raw=true)

}

.update-biz-input {
    border: double;
    border-color: darkorange;
    height: 25px;
}

.update-biz-addy-input {
    height: 30px;
    width: 48%;
    border: double;
    border-color: darkorange;
}

.update-biz-category-input {
    height: 30px;
    border: double;
    border-color: darkorange;
}

.update-biz-text-area {
    resize: none;
    width: 98%;
    height: 111px;
    border: double;
    border-color: darkorange;
}
