/* TODO Add site wide styles */
html, body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    outline: none;
    font: caption;
    background-color: whitesmoke;
    object-fit: cover;
    position: relative;
    min-height: 100vh;


}

footer {
    bottom: 0;
    color: #707070;
    height: 2em;
    left: 0;
    /* position: fixed; OldProperty */
    position: static;/* Updated Property */
    font-size: small;
    width:100%;
    margin-top:150px;

}
