.explore-biz-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.indiv-biz-container {
    display: flex;
    align-items: center;
    margin-left: 13%;
    gap: 25px;
    padding-top: 30px;

}

.all-biz-container {

}

.search-biz-title-rating-review {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
