.explore-biz-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.indiv-biz-container {
    display: flex;
    align-items: center;
    margin-left: 13%;
    gap: 25px;
    padding-top: 30px;

}

.all-biz-container {

}

.search-biz-title-rating-review {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.all-biz-cat-btn {
    margin-top: 0px;
    border: 1px solid grey;
    background-color: #dbdbdb;
    border: none;
    width: 30%;
    color: grey;
    padding: 1px;
    border-radius: 3px;
    text-align: center;
}


.all-biz-desc-search {
    display: block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 16px;
    line-height: 16px;
    /* width: fit-content; */

}

.double-search-not-home {
    background: white;
    display: flex;
    grid-gap: 10px;
    grid-gap: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 48%;
    height: 33px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid #8080802b;
}


.find-near-p-nh {
    width: 5%;
    text-align: center;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: grey;
}

.find-name-nh {
    width: 45%;
    height: 70%;
    border: none;
    border-right: 1px solid #8080807d;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.find-name-nh:focus {
    outline: none;
}


.find-location-nh {
    width: 35%;
    height: 90%;
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.find-location-nh:focus {
    outline:none;
}

.magnifying-nh {
    width: 10%;
    height: 100%;
    border: none;
    background-color: #dd0101;
    border-radius: 0px 7px 7px 0px;
}

.mag-glass-icon-nh {
    width: 38%;
}
