.signup-pg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-input-container {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.signup-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1%;
}

.priv-policy-msg {
    margin-left: 104px;
    margin-top: -13px;
}

.signup-msg {
    margin-top: -23px;
}
.signup-msg-p {
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.signup-for-shelf {
    margin-bottom: -3px;
    color: #d32323;
}

.signup-red-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #d32324;
    height: 70px;
}

.signup-nav-shelf-icon {
    width: 20%;

}

.signup-btn {
    width: 100%;
    height: 35px;
    background-color: #d32324;
    margin-top: 30px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;

}

.signup-btn:hover {
    background-color: #c20304;
}

.changed-mind {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-size: 15px;
}
.changed-mind:hover {
    border-bottom: 1px solid grey;
}

.shelf-signup-navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.signup-input {
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.signup-other-info-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
}

.signup-name-input {
    height: 25px;
    overflow: hidden;
    margin-right: 10px;
}

.already-on-shelf-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.back-to-login {
    display: flex;
    flex-direction: row-reverse;
}

.prof-pic-aws-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-photo-new-user-btn {
    margin-top: 6%;
    width: 90%;
    border: 1px solid #ccc;
    color: grey;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    display: flex;
    justify-content: center;

}
.add-photo-new-user-btn:hover {
    color: white;
    background-color: rgb(188, 187, 187);
    transition: 0.5s ease;

}

.prof-pic-input {
    /* display: block; */
}

.prof-pic-input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
