.signup-pg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-input-container {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.priv-policy-msg {
    margin-left: 104px;
    margin-top: -13px;
}

.signup-msg {
    margin-top: -23px;
}

.signup-for-shelf {
    margin-bottom: -3px;
    color: #d32323;
}

.signup-red-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #d32324;
}

.signup-nav-shelf-icon {
    width: 20%;

}

.signup-btn {
    width: 80%;
    height: 35px;
    margin-left: 10%;
    background-color: #d32324;
    margin-top: 30px;
    border: none;
    color: white;
    font-size: 15px;

}

.signup-btn:hover {
    background-color: #c20304;
    transition: 0.5s;
}

.changed-mind {
    text-decoration: none;
}

.shelf-signup-navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
