.profile-dropdown {
  position: absolute;
}

.welcome-demo-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.navbar-links {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  width: 25%;
}

.navbar-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8080803b;
}


.main-nav-links {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-container {
  width: 50%;
}

.search-input {
  width: 90%;
  height: 35px;
  box-shadow: 4px 5px 20px #e3e2e2;
  outline: none;
  border: none;
  border-radius: 3px;
}

.welcome-line {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.nav-prof-icon {
  width: 15%;
  border-radius: 6px;
}

.prof-btn-nav {
  border: none;
  padding: 5px;
  width: 80px;
  color: white;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

}
.prof-btn-nav:hover {
  color: grey;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}

.logout-btn-nav {
  border: none;
  padding: 5px;
  width: 80px;
  color: white;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

}
.logout-btn-nav:hover {
  color: grey;
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;

}
