.profile-dropdown {
  margin-top: 10%;
  position: absolute;
  display: flex;
  width: 10%;
  border: 1px solid #cfcbcb;
  box-shadow: 9px 5px 20px 1px #cfcbcb;
  justify-content: center;
  flex-direction: column;
  margin-left: 14%;
  z-index: 1;
}

.welcome-demo-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.navbar-links {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  width: 25%;
}

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8080803b;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
}
.review-navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8080803b;

}
.one-biz-navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8080803b;

}


.main-nav-links {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-container {
  width: 50%;
}

.search-input {
  width: 90%;
  height: 35px;
  box-shadow: 4px 5px 20px #e3e2e2;
  outline: none;
  border: none;
  border-radius: 3px;
}


.nav-prof-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}


.prof-btn-nav {
  height: 25px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #e6e6e6;
  color: grey;
}




.profile-dropdown button:hover,
.profile-dropdown button:focus {
  flex-grow: 2;
  color: rgb(0, 0, 0);
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
  transition: 0.5s;
}


.logout-btn-nav {
  height: 25px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: grey;

}

.welcome-user-nav-title {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
