.login-modal-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-modal-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-btns {
    display: flex;
    flex-direction: column;
    gap: 64px;
}


#modal-content {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-modal-btn {
    border: none;
    background: transparent;
    font-size: 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-right: 15px;
}

.login-modal-btn:hover {
    border-bottom: 2px solid white;
    font-weight: bold;

}
